

useDynLib(pbv)



####################################################
################## IMPORTS #########################
####################################################

#***************************************************
#*************** R Basics / Linking To *************
#***************************************************

importFrom(Rcpp, evalCpp)

#***************************************************
#********** Imports (own packages) *****************
#***************************************************



#***************************************************
#************** Imports ****************************
#***************************************************



#***************************************************
#************** Suggests ***************************
#***************************************************
# requireNamespace("another_package")



####################################################
################## EXPORTS #########################
####################################################

export(dbvnorm)
export(pbv_rcpp_dbvnorm)
export(pbv_rcpp_dbvnorm0)
export(pbv_rcpp_pbvnorm)
export(pbv_rcpp_pbvnorm0)
export(pbvnorm)







################################################
################ S3 methods ####################
################################################

